{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <br>
    <h2>Ryu - Project for devloping app for analysis and evaluation of 
        time management system</h2>
</div>

<h3>Why Ryu?</h3>
<p class="lead">
<strong>Ryu</strong> is a Japanese dragon with three claws! And I'm gonna slay
that dragon! Haha. Essentially it's my attempt at going against my fear of
thinking that I can't be good programmer. Also this project is about time
management (croat. raspolaganje vremenom) so that's why I'm making app Kurama
that will slay project Ryu :-) 
</p>

{% endblock content %}
