<head>
    <meta charset="utf-8">
    <title>Task lists page</title>
    <script type="text/javascript" charset="utf-8">
       <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
   </script>
</head>
{% if latest_im_tasks %}
    <h2> Latest Important tasks </h2>
    <ul>
    {% for task in latest_im_tasks %}
    <li><a href="{% url 'kurama:detail' task.task_id %}">{{ task.task_list}} - {{ task.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks are available.</p>
{% endif %}
{% if latest_ni_tasks %}
    <h2> Latest Not Important tasks </h2>
    <ul>
    {% for task in latest_ni_tasks %}
        <li><a href="{% url 'kurama:detail' task.task_id %}">{{ task.task_list}} - {{ task.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks are available.</p>
{% endif %}
{% if tasklists %}
   <h2 id="">Tasks lists</h2>
   {% for tl in tasklists %}
   <ul>
       <li> <a href="{% url 'kurama:task_list' tl.title %}">{{ tl.title }}</a> </li>
   </ul>
   {% endfor %}
{% else %}
    <p>No task lists are available </p>
{% endif %}

<h2 id="statistcs_by:">Statistcs by:</h2>
<ul>
    <li><a href="{% url 'kurama:stats' %}">Global stats</a></li>
    <li><a href="{% url 'kurama:current_week' %}">Current week</a></li>
    <li><a href="{% url 'kurama:last_week' %}">Last week</a></li>
    <li><a href="{% url 'kurama:last_month' %}">Last month</a></li>
    <li><a href="{% url 'kurama:last_quarter' %}">Last quarter</a></li>
    <li><a href="{% url 'kurama:last_year' %}">Last year</a></li>
</ul>

