{# vim:set et sw=2 ts=2 sts=2 tw=120: #}
{% extends "base.html" %}
{% load nvd3_tags %}

{% block extrahead %}
{% include_chart_jscss %}

{% endblock extrahead %}

{% block content %}

<div class="page-header">
  <br>
  <h1> Statistical analysis page </h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filter</h3>
  </div>
  <form action="/kurama/stats/" method="get" accept-charset="utf-8">
  <div class="panel-body">
    <div class="row">
      <div class='col-sm-4'>
          <div class="form-group">
            <label for="tasklist">Task list</label>
            <select class="form-control" id="tasklist" name="tl">
              <option>Im</option>
              <option>Ni</option>
              <option>Im&amp;Ds</option>
              <option>Im&amp;Nds</option>
              <option>Ni&amp;Ds</option>
              <option>Ni&amp;Nds</option>
            </select>
          </div>
      </div> <div class='col-sm-4'>
          <div class="form-group">
            <label for="tag">Tag/Project</label>
            <div class='input-group' id='tag'>
              <input type='text' class="form-control" name="tag" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-list"></span>
              </span>
            </div>
          </div>
      </div>
      <div class='col-sm-4'>
          <div class="form-group">
            <label for="time-range">Time range</label>
            <select class="form-control" name="time_range">
              <option>thisweek</option>
              <option>thismonth</option>
              <option>lastweek</option>
              <option>lastmonth</option>
              <option>thisquarter</option>
            </select>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="startdatetimepicker">Start date</label>
            <div class='input-group date' id='startdatetimepicker'>
              <input type='text' class="form-control" data-date-format="YYYY-MM-DD" name="start_date" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="enddatetimepicker">End date</label>
            <div class='input-group date' id='enddatetimepicker'>
              <input type='text' class="form-control" data-date-format="YYYY-MM-DD" name="end_date" value="" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
    </div>
      <div class="row">
        <div class="col-sm-4">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
      <script type="text/javascript">
        $(function () {
            $('#startdatetimepicker').datetimepicker({
              pickTime:false
            });
            $('#enddatetimepicker').datetimepicker({
              pickTime:false
            });
            $("#startdatetimepicker").on("dp.change",function (e) {
               $('#enddatetimepicker').data("DateTimePicker").setMinDate(e.date);
            });
            $("#enddatetimepicker").on("dp.change",function (e) {
               $('#startdatetimepicker').data("DateTimePicker").setMaxDate(e.date);
            });
        });
      </script>
  </div>
  </form>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Query Info</h3>
  </div>
  <div class="panel-body">
    List of tasks from {{ query_info.start_date }} to {{ query_info.end_date }}
    {% if query_info.task_lists == "all" %}
    from all task lists and
    {% else %}
    for task list with name {{ query_info.task_lists }} and
    {% endif %}
    {% if query_info.tag == "all" %}
    for all projects
    {% else %}
    for projects with name {{ query_info.tag }}
    {% endif %}
  </div>
</div>

<div id="content">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a class="tasks" href="#tasks" data-toggle="tab"><i class="glyphicon glyphicon-th-list"></i> Tasks</a></li>
    <li role="presentation"><a class="graphs" href="#graphs" data-toggle="tab"><i class="glyphicon glyphicon-stats"></i> Graphs</a></li>
    <li role="presentation"><a class="analysis" href="#analysis" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i> Analysis</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tasks">
      <h3>Task list </h3>
      <div class="col-md-12" >
        <table class="table table-hover">
        {% if tasks %}
          <tr><td>Task list</td><td>Project</td><td>Task title</td></tr>
          {% for task in tasks|dictsortreversed:"completed" %}
          <tr>
            <td><a href="{% url 'kurama:task_list' task.task_list.title %}"> {{ task.task_list.title }}</a></td>
            <td><a href="{% url 'kurama:tag' task.tag %}"> {{ task.tag }}</a></td>
            <td><a href="{% url 'kurama:detail' task.task_id %}"> {{ task.title }}</a></td>
          </tr>
          {% endfor %}
        {% else %}
          <tr><td>No tasks are available</td></tr>
        {% endif %}
        </table>
      </div>
    </div>
    <div class="tab-pane" id="graphs">
      <h3>Graphssss</h3>
        <div class="col-md-12">
          {% include_container chartcontainer 600 800 %}
        </div>
    </div>
    <div class="tab-pane" id="analysis">
      <h3>Analysis </h3>
      <p>Analysis Analysis Analysis </p>
    </div>
<script>
  $(".graphs").click(function() {
      {% load_chart charttype chartdata chartcontainer extra %}
  });
</script>
  </div>
</div> 
{% endblock content %}
